#root{
    margin: 0 auto;
    padding: 0 auto;

}

label{
    color:rgb(46, 78, 78)
}

.search-bar{
    margin: 5px;
    border:  2px solid rgb(60, 97, 97);
    background-color: white;
    padding: 10px;
}

input{
  color:rgb(9, 32, 32);
  background-color:rgb(238, 214, 214);
  width: 80%;
  padding: 20px;
  border: solid 2px rgb(24, 117, 129);
  display: block;
  justify-content: center;

  margin: 10px auto 10px auto
}

h1{
    color: rgb(238, 214, 214);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 34px;
    background-color: rgb(46, 78, 78);
    margin: 0 auto;
}