
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Red+Hat+Display&display=swap');

#root{
    margin: 0 auto;
    padding: 0 auto;

}


label{
    color:rgb(46, 78, 78)
}

.search-bar{
    margin: 5px;
    border:  2px solid rgb(60, 97, 97);
    background-color: white;
    padding: 7px;
    border-style: hidden;
}

input:hover {
  background-color: rgba(253, 253, 253, 0.774);
}


input{
  
  color:rgb(50, 102, 102);
  background-color:rgb(230, 219, 219);
  width: 75%;
  padding: 20px;
  border: solid 2px rgb(24, 117, 129);
  display: block;
  justify-content: center;
  font-size: 18px;
  font-family: 'Red Hat Display';
  margin: 10px auto 10px auto
}


h1{
    color: rgb(238, 214, 214);
    font-family: 'Libre Barcode 128 Text';
    font-size: 65px;
    text-align: center;
    padding: 34px;
    background-color: rgb(46, 78, 78);
    margin: 0 auto;
}