@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Red+Hat+Display&display=swap');

.item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
    background-color:rgba(216, 206, 206, 0.596);
    border: 2.5px solid rgb(255, 255, 255)

}
 
.item :hover {   
    font-size: 18px;
    padding: 19px;

}

.header{
    
    font-family: 'Red Hat Display';
    color: rgb(35, 88, 92);
    font-size: 18px;
    padding: 9px;
}

.item.item img {
    max-width: 150px;
    border:.9px solid rgb(35, 88, 92)
}



@media only screen and (max-width: 600px) {

.item{
    display: block !important;
    margin-right: 50px;
    
    margin-left: -332px;
}
      
.item.item img{
    display: block !important;
    grid-column: span;
}

.item :hover{
    padding: 6px;
    color:rgb(255, 255, 255)

}

.video-block{
    margin-top: 400px;
}
      



  }